html {box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit;}


#cApp {

  margin: auto;
  border: 1px solid #999;
  margin-top: 20px;
  width: 450px;
  height: 650px;
  box-shadow: 0 0 10px #999;
  position: relative;
}

#cFootPad {
  height: 30px;
  width: 10px;
}

#cTopTitle {

  border: 1px solid #000;
  height: 70px;
  line-height: 70px;
  padding-left: 20px;
  margin-bottom: 30px;
  background-color: #207996;
  color: #FFF;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  font-weight: 100;
}


i {

  position: absolute;
  top: 5px;
  left: 25px;
  color: #999;
  
  
}




.cInpDiv input {

  padding-left: 35px;
  width: 400px;
  height: 30px;
  clear: left;
  margin-left: 20px;
}

.cInpDiv textarea {

  padding-left: 25px;
  width: 400px;
  height: 80px;
  clear: left;
  margin-left: 20px;
  resize: none;
  outline-color: #CCC;
  border-color: #CCC;
  padding-left: 35px;

}

.cInpDiv select {

  padding-left: 25px;
  width: 400px;
  height: 30px;
  margin-left: 20px;
  resize: none;
  outline-color: #CCC;
  border-color: #CCC;
  padding-left: 35px;

}


.cInpDiv {

  width: 100%;
  margin-top: 20px;

  position: relative;
  
}

#cFormFooter {

  background-color: #86C6DB;
  width: 100%;
  height: 84px;
  margin-top: 30px;
  position: relative;
}

#cSubmit {
  width: 120px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #207996;
  color: #FFF;
  border-radius: 5%;
  top: 20px;
  left: 20px;
  position: absolute;
}

#cCover {

  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  opacity: 0.7;
  top: 0px;
}

#cThank {

  width: 220px;
  height: 150px;
  background-color: #FFF;
  position: absolute;
  line-height: 150px;
  top: 190px;
  left: 110px;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  font-weight: 100;
  border-radius: 10%;
}







